@import "materialize-css/sass/materialize.scss";

// 
// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

h1 {
    margin: 0;
    font-size: 1.5rem;
}
h2 {
    margin: 0;
    font-size: 1.3rem;
}
h3 {
    margin: 0;
    font-size: 1.2rem;
}
body {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}
.edited-note {
    text-align: left !important;
    hyphens: none !important;
}
pre {
    overflow-x: auto;
}
textarea {
    resize: none;
    overflow-y: hidden;
}
ul {
    &:not(.browser-default) {
      padding-left: 1.5em !important;
      list-style-type: "- " !important;
  
      & > li {
        list-style-type: "- " !important;
      }
    }
  }
b, strong {
    font-weight: bolder !important;
}